.leaflet-container {
    height: 300px;
    width: 100%;
    z-index: 0 !important;
}
.geocoder-control-input {
    line-height: 28px;
    padding-left: 5px;
    padding-right: 5px;
}
.geocoder-control-suggestions {
    z-index: 1000000;
}
.geocoder-control-list {
    background: white !important;
    z-index: 10000000 !important;
    list-style-type: none;
}
.leaflet-top.leaflet-left {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
